{% extends "store/base.html" %}
{% load static %}

{% block navbar %}
<nav class="nav-extended teal darken-2">
    <div class="nav-wrapper teal">
        <a href="{% url 'home' %}" class="brand-logo center">Hi Tea 茶室</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a href="{% url 'home' %}#location">Location</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="{% url 'home' %}#introduction">About</a></li>
            <li><a href="{% url 'home' %}#contact">Contact</a></li>
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent hide-on-med-and-down">
            <li class="tab"><a href="#MilkTea">     Milk Tea     </a></li>
            <li class="tab"><a href="#LemonTea">     Lemon Tea    </a></li>
            <li class="tab"><a href="#FreshFruit">     Fresh Fruit      </a></li>
            <li class="tab"><a href="#CheeseFoam">     Cheese Foam     </a></li>
            <li class="tab"><a href="#Food">     Food     </a></li>
        </ul>
    </div>
</nav>

<!-- sidenav links-->
<ul class="sidenav" id="mobile-links">
    <li><a href="{% url 'home' %}#location">Location</a></li>
    <li><a href="#">Menu</a></li>
    <li><a href="{% url 'home' %}#introduction">About</a></li>
    <li><a href="{% url 'home' %}#contact">Contact</a></li>
    <div class="divider"></div>
    <li class="tab"><a href="{% url 'menu-search' %}#MilkTea">     Milk Tea     </a></li>
    <li class="tab"><a href="#LemonTea">    Lemon Tea    </a></li>
    <li class="tab"><a href="#FreshFruit">     Fresh Fruit      </a></li>
    <li class="tab"><a href="#CheeseFoam">  Cheese Foam  </a></li>
    <li class="tab"><a href="#Food">  Food  </a></li>
</ul>
{% endblock navbar %}

{% block content %}
<div style="background-image: url({% static 'images/white-wood-background.jpg' %})">
    <div id="MilkTea">
        <div class="container row">
            {% for milkTeaProducts in milkTeaProducts %}
            <div class="col s6 m5 offset-m1 l4">
                <div class="hoverable menu-box-element">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger" href="#{{milkTeaProducts.product.name}}">
                        <img class="menu-image" src="{{milkTeaProducts.product.imageURL}}" alt="filler">
                    </a>
                    <p align="center">{{milkTeaProducts.product.name}}</p>

                    <!-- Modal Structure -->
                    <div id="{{milkTeaProducts.product.name}}" class="modal">
                        <div class="modal-content">
                            <h5 align="center">{{milkTeaProducts.product.name}}</h5>
                            <div class="divider"></div>

                            <div class="row">
                                <div class="col s12 m7"><img class="modal-image" src="{{milkTeaProducts.product.imageURL}}" alt="filler"></div>
                                <div class="col s12 m5">
                                    <h6>Price: ${{milkTeaProducts.product.price}}</h6>
                                    <h6>Calories: {{milkTeaProducts.product.calories}}</h6>
                                    <small>Available Toppings:
                                        {% for topping in milkTeaProducts.toppings %}
                                            <p>{{topping}}</p>
                                        {% endfor %}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer teal lighten-2">
                            <a href="#" class="modal-close waves-effect btn-flat white-text">Exit</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="LemonTea">
        <div class="container row">
            {% for lemonTeaProducts in lemonTeaProducts %}
            <div class="col s6 l4">
                <div class="menu-box-element">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger menu-image" href="#{{lemonTeaProducts.product.name}}"><img
                            src="{{lemonTeaProducts.product.imageURL}}" alt="filler"
                            height="250" width="250" style="object-fit"></a>
                    <p align="center">
                        {{lemonTeaProducts.product.name}}
                        <br>
                    </p>

                    <!-- Modal Structure -->
                    <div id="{{lemonTeaProducts.product.name}}" class="modal" style="margin:auto">
                        <div class="modal-content">
                            <h4 align="center">{{lemonTeaProducts.product.name}}</h4>
                            <img class="modal-image" src="{{lemonTeaProducts.product.imageURL}}" alt="filler"
                                 height="250"
                                 width="250"
                                 style="object-fit">
                            <h6 align="center">Price: ${{lemonTeaProducts.product.price}}</h6>
                            <h6 align="center">Calories: {{lemonTeaProducts.product.calories}}</h6>
                            <h6 align="center">Toppings: {{lemonTeaProducts.toppings}}</h6>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">ok!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="FreshFruit">

    </div>
    <div id="CheeseFoam">

    </div>
    <div id="Food">
        <div class="container row">
            <div class="col s6 l4 box-element">
                <!-- Modal Trigger -->
                <a class="modal-trigger menu-image" href="#modal1"><img src="{{product.product.imageURL}}" alt="filler"
                                                                        height="250" width="250" style="object-fit"></a>
                <p align="center">
                    {{product.product.name}}
                    <br>
                </p>

                <!-- Modal Structure -->
                <div id="modal1" class="col l4 offset-l2 modal">
                    <div class="modal-content">
                        <h2 align="center">{{product.product.name}}</h2>
                        <img class="modal-image" src="{{product.product.imageURL}}" alt="filler" height="250"
                             width="250"
                             style="object-fit">
                        <h4 align="center">Price: ${{product.product.price}}</h4>
                        <h4 align="center">Calories: {{product.product.calories}}</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">ok!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- IDK why i need to put this div to cover background!! cmon clark... -->
    <div style="height: 20px;"></div>
</div>
{% endblock content %}