{% extends "store/base.html" %}
{% load static %}

{% block navbar %}
<nav class="nav-extended teal">
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo center">Hi Tea 茶室</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{% url 'home' %}#location">Location</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="{% url 'home' %}#introduction">About</a></li>
            <li><a href="{% url 'home' %}#contact">Contact</a></li>
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#HotMilkTea">Hot Milk Tea</a></li>
            <li class="tab"><a href="#IcedMilkTea">Iced Milk Tea</a></li>
            <li class="tab"><a href="#HotLemonTea">Hot Lemon Tea</a></li>
            <li class="tab"><a href="#IcedLemonTea">Iced Lemon Tea</a></li>
            <li class="tab"><a href="#FreshFruit">Fresh Fruit</a></li>
            <li class="tab"><a href="#HotCheeseFoam">Hot Cheese Foam</a></li>
            <li class="tab"><a href="#IcedCheeseFoam">Iced Cheese Foam</a></li>

        </ul>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="page-section">
    <div id="HotMilkTea">
        <div class="container row">
            {% for hotMilkTeaProducts in hotMilkTeaProducts %}
            <div class="col s6 l4">
                <div class="menu-box-element">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger menu-image" href="#{{hotMilkTeaProducts.product.name}}"><img
                            src="{{hotMilkTeaProducts.product.imageURL}}" alt="filler"
                            height="250" width="250" style="object-fit"></a>
                    <p align="center">
                        {{hotMilkTeaProducts.product.name}}
                        <br>
                    </p>

                    <!-- Modal Structure -->
                    <div id="{{hotMilkTeaProducts.product.name}}" class="modal" style="margin:auto">
                        <div class="modal-content">
                            <h3 align="center">{{hotMilkTeaProducts.product.name}}</h3>
                            <img class="modal-image" src="{{hotMilkTeaProducts.product.imageURL}}" alt="filler"
                                 height="250"
                                 width="250"
                                 style="object-fit">
                            <h6 align="center">Price: ${{hotMilkTeaProducts.product.price}}</h6>
                            <h6 align="center">Calories: {{hotMilkTeaProducts.product.calories}}</h6>
                            <h6 align="center">Available Toppings: {{hotMilkTeaProducts.toppings}}</h6>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">ok!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="IcedMilkTea">
        <div class="container row">
            {% for icedMilkTeaProducts in icedMilkTeaProducts %}
            <div class="col s6 l4">
                <div class="menu-box-element">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger menu-image" href="#{{icedMilkTeaProducts.product.name}}"><img
                            src="{{icedMilkTeaProducts.product.imageURL}}" alt="filler"
                            height="250" width="250" style="object-fit"></a>
                    <p align="center">
                        {{icedMilkTeaProducts.product.name}}
                        <br>
                    </p>

                    <!-- Modal Structure -->
                    <div id="{{icedMilkTeaProducts.product.name}}" class="modal" style="margin:auto">
                        <div class="modal-content">
                            <h4 align="center">{{icedMilkTeaProducts.product.name}}</h4>
                            <img class="modal-image" src="{{icedMilkTeaProducts.product.imageURL}}" alt="filler"
                                 height="250"
                                 width="250"
                                 style="object-fit">
                            <h6 align="center">Price: ${{icedMilkTeaProducts.product.price}}</h6>
                            <h6 align="center">Calories: {{icedMilkTeaProducts.product.calories}}</h6>
                            <h6 align="center">Toppings: {{icedMilkTeaProducts.toppings}}</h6>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">ok!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="HotLemonTea">
        <div class="container row">
            {% for hotLemonTeaProducts in hotLemonTeaProducts %}
            <div class="col s6 l4">
                <div class="menu-box-element">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger menu-image" href="#{{hotLemonTeaProducts.product.name}}"><img
                            src="{{hotLemonTeaProducts.product.imageURL}}" alt="filler"
                            height="250" width="250" style="object-fit"></a>
                    <p align="center">
                        {{hotLemonTeaProducts.product.name}}
                        <br>
                    </p>

                    <!-- Modal Structure -->
                    <div id="{{hotLemonTeaProducts.product.name}}" class="modal" style="margin:auto">
                        <div class="modal-content">
                            <h4 align="center">{{hotLemonTeaProducts.product.name}}</h4>
                            <img class="modal-image" src="{{hotLemonTeaProducts.product.imageURL}}" alt="filler"
                                 height="250"
                                 width="250"
                                 style="object-fit">
                            <h6 align="center">Price: ${{hotLemonTeaProducts.product.price}}</h6>
                            <h6 align="center">Calories: {{hotLemonTeaProducts.product.calories}}</h6>
                            <h6 align="center">Toppings: {{hotLemonTeaProducts.toppings}}</h6>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">ok!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="IcedLemonTea">
        <div class="container row">
            {% for icedLemonTeaProducts in icedLemonTeaProducts %}
            <div class="col s6 l4">
                <div class="menu-box-element">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger menu-image" href="#{{icedLemonTeaProducts.product.name}}"><img
                            src="{{icedLemonTeaProducts.product.imageURL}}" alt="filler"
                            height="250" width="250" style="object-fit"></a>
                    <p align="center">
                        {{icedLemonTeaProducts.product.name}}
                        <br>
                    </p>

                    <!-- Modal Structure -->
                    <div id="{{icedLemonTeaProducts.product.name}}" class="modal" style="margin:auto">
                        <div class="modal-content">
                            <h4 align="center">{{icedLemonTeaProducts.product.name}}</h4>
                            <img class="modal-image" src="{{icedLemonTeaProducts.product.imageURL}}" alt="filler"
                                 height="250"
                                 width="250"
                                 style="object-fit">
                            <h6 align="center">Price: ${{icedLemonTeaProducts.product.price}}</h6>
                            <h6 align="center">Calories: {{icedLemonTeaProducts.product.calories}}</h6>
                            <h6 align="center">Toppings: {{icedLemonTeaProducts.toppings}}</h6>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">ok!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="FreshFruit">

    </div>
    <div id="HotCheeseFoam">

    </div>
    <div id="IcedCheeseFoam">
        <div class="container row">
            <div class="col s6 l4 box-element">
                <!-- Modal Trigger -->
                <a class="modal-trigger menu-image" href="#modal1"><img src="{{product.product.imageURL}}" alt="filler"
                                                                        height="250" width="250" style="object-fit"></a>
                <p align="center">
                    {{product.product.name}}
                    <br>
                </p>

                <!-- Modal Structure -->
                <div id="modal1" class="col l4 offset-l2 modal">
                    <div class="modal-content">
                        <h2 align="center">{{product.product.name}}</h2>
                        <img class="modal-image" src="{{product.product.imageURL}}" alt="filler" height="250"
                             width="250"
                             style="object-fit">
                        <h4 align="center">Price: ${{product.product.price}}</h4>
                        <h4 align="center">Calories: {{product.product.calories}}</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">ok!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}