.parallax-container {
    position: relative;
    height: 91vh;
}

.parallax {
    filter: brightness(50%);
}

.logo {
    display: flex;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}

.horizontal-center {
    position: absolute;
    margin-top: 5vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box-element {
	box-shadow: gray 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
    margin: 100px 0px 0px 100px;
}

.page-section {
    background-image: url(../images/white-background.jpg);
    background-size: cover;
    height: 100vh;
}