.parallax-container {
    position: relative;
    height: 91vh;
}

.parallax {
    filter: brightness(50%);
}

.logo {
    display: flex;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}

.horizontal-center {
    position: absolute;
    margin-top: 5vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box-element {
	box-shadow: gray 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
    margin: 10vh 0px 0px 100px;
}

.page-section {
    background-image: url(../images/white-background.jpg);
    background-size: cover;
    height: 100vh;
}

@media screen and (max-width: 992px) {
    .extended {
        height: 180vh;
    }
}

.fade-in {
    opacity: 0;
    grid-column: 3/4;
    transform: translateY(50%);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    transform: translateX(0);
}

.from-right {
    transform: translateX(50%);
}

.from-left {
    transform: translateX(-50%);
}

/* MENU CSS */
.cold-icon{
    width: 50px;
    height: auto;
}
.warm-icon{
    width: 40px;
    height: auto;
}
.modal-image{
    width: 80%;
    height: auto;
    transform: translate(13%, 0);
}

.menu-image{
   width: 80%;
   height: auto;
   transform: translate(13%, 0);
}

.menu-box-element{
    box-shadow: gray 0 0 10px;
	background-color: #fff;
	border-radius: 15px;
	padding: 5px;
    margin: 5px;
    min-height: 350px;
}

@media screen and (max-width: 992px) {
    .menu-box-element {
        min-height: 330px;
    }
=======
.iframe-container {
  padding-bottom: 1%;
  position: relative;
  height: 65vh;
}

.iframe-container iframe {
   height: 100%;
   width: 100%;
}

