.parallax-container {
    position: relative;
    height: 100vh;
}

.parallax{
    filter: brightness(50%);
}

.logo {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-center {
    position: absolute;
    margin-top: 5vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box-element{
	box-shadow: gray 0 0 16px;
	background-color: white;
	border-radius: 4px;
	padding: 10px;
	margin: 100px 0px 0px 100px;
}