{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Link to CSS Sheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {% block materialize_forms_css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
          integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous"/>
    {% endblock materialize_forms_css %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Adding Favicon -->
    <link rel="shortcut icon" href="{% static 'images/HiTea Logo.png'%}"/>
</head>

<body onload="removeCover()">
{% block navbar %}
{% endblock navbar %}

{% block content %}
{% endblock content %}

<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col s12 l8">
                <h5>Visit Us!</h5>
                <div class="row">
                    <div class="col s6">Address: 37-3300 Midland Ave Scarborough ON, M1V 4A1</div>
                    <div class="col s6">Tel: (416) 335-6161</div>
                </div>
            </div>
            <div class="col s12 l3 offset-l1">
                <h5>Follow Us!</h5>
                <div class="row">
                    <div class="col s12">
                        <a target="_blank" class="indigo btn-floating btn-large waves-effect"
                           href="https://www.facebook.com/Hi.teacanada/"><i class="fab fa-facebook-f"></i></a>
                        <a target="_blank" class="pink btn-floating btn-large waves-effect"
                           href="https://www.instagram.com/hi.tea_canada/?hl=en"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container" id="copyright"> HiTea 2020 &copy; All rights reservered</div>
    </div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% block materialize_forms_javascript %}
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        
        // Initialize materialize data picker
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
        $('select').formSelect();
        
    });
    
</script>
{% endblock materialize_forms_javascript %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>