{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Link to CSS Sheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {% block materialize_forms_css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
          integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous"/>
    {% endblock materialize_forms_css %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1"/>

    <!-- open graph -->
    <meta property="og:title" content="HiTea"/>
    <meta property="og:site_name" content="HiTea"/>
    <meta property="og:url" content="https://hiteatoronto.ca"/>
    <meta property="og:image" content="{% static 'images/HiTea Logo.png' %}"/>
    <meta property="og:type" content="restaurant"/>
    <meta property="og:description"
          content="HiTea's unique flavors and delicately crafted foods and beverages have shown a strong popularity among customers."/>

    <meta
            name="description"
            content="HiTea is a bubble tea chain from Guangdong, China that specializes in lots (and lots) of fruit bubble tea drinks!
            There's a great, easy-going vibe with comfortable seats, perfect to kick back and relax or do some work as well."/>
    <meta name="keywords" content="HiTea, Midland, Finch, Toronto, bubble tea, Lemon Tea, boba, North York"/>

    <!-- Adding Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}"/>
    <title>HiTea</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-24BBTVJYPY"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-24BBTVJYPY');

    </script>

</head>

<!--Removing Elfsight Cover-->
<body class="myWrapper">

{% block navbar %}
{% endblock navbar %}


{% block content %}
{% endblock content %}
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>

<!--FOOTER-->
<footer class="page-footer grey darken-3 myFooter">
    <div class="container">
        <div class="row">
            <div class="col s12 l8">
                <h5>Visit Us!</h5>
                <div class="row">
                    <div class="col s6">Address: 37-3300 Midland Ave Scarborough ON, M1V 4A1</div>
                    <div class="col s6">Tel: (416) 335-6161</div>
                </div>
            </div>
            <div class="col s12 l3 offset-l1">
                <h5>Follow Us!</h5>
                <div class="row">
                    <div class="col s12">
                        <a target="_blank" class="indigo btn-floating btn-large waves-effect"
                           href="https://www.facebook.com/Hi.teacanada/"><i class="fab fa-facebook-f"></i></a>
                        <a target="_blank" class="pink btn-floating btn-large waves-effect"
                           href="https://www.instagram.com/hi.tea_canada/?hl=en"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container" id="copyright"> HiTea 2021 &copy; All rights reserved </div>
    </div>
</footer>
<!--/FOOTER-->

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>

<script defer type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% block materialize_forms_javascript %}
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
        integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        
        // Initialize materialize data picker
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
        $('select').formSelect();
        
    });
    

</script>
{% endblock materialize_forms_javascript %}
</body>
</html>