{% extends "store/base.html" %}
{% load static %}

{% block navbar %}
<nav class="nav-extended teal">
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo center">Hi Tea 茶室</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#location">Location</a></li>
            <li><a href="{% url 'menu-home' %}">Menu</a></li>
            <li><a href="#introduction">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>
{% endblock navbar %}

{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/store.jpg' %}"></div>
    <img class="logo" src="{% static 'images/HiTea Logo.png' %}">
    <i class="horizontal-center large material-icons"><a class="white-text" href="#introduction">keyboard_arrow_down</a></i>
</div>

<!--INTRO-->


<div class="page-section extended">
    <div class="scrollspy container row" id="introduction">
        <div class="col s12 l7 box-element fade-in from-right">
            <h5>About</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ducimus accusantium iure quos voluptas
                recusandae illo repellendus, atque dignissimos animi amet? Itaque, facere! Culpa quam suscipit optio
                laborum dignissimos soluta!</p>
            <img src="{% static 'images/contest-winner.jpg' %}" height="200" width="267">
        </div>

        <div class="col s12 l4 box-element offset-l1 fade-in from-left">
            <h5>Hours of Operation</h5>
            <!--   REPLACE WITH DJANGO HOURS OF OPERATIONS-->
            <div style="overflow-x:auto;">
            <table class="highlight">
                <tr><th>Sunday</th><td>Closed</td></tr>
                <tr><th>Monday</th><td>9am - 5pm</td></tr>
                <tr><th>Tuesday</th><td>9am - 5pm</td></tr>
                <tr><th>Wednesday</th><td>9am - 5pm</td></tr>
                <tr><th>Thursday</th><td>9am - 5pm</td></tr>
                <tr><th>Friday</th><td>9am - 5pm</td></tr>
                <tr><th>Saturday</th><td>9am - 5pm</td></tr>
            </table>
            </div>      
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/bubble-tea.jpg' %}"></div>
</div>

<div class="page-section" style="background-image: url({% static 'images/wood-background.jpg' %})">
    <div class="scrollspy container row" id="location">
        <div class="col s12 l12 box-element fade-in">
            <h5>Location</h5>
            <p>Come visit us</p>
            <p>GOOGLE MAPS API</p>
            <p>Midland and Finch!</p>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/darling.jpg' %}"></div>
</div>

<div class="page-section" style="background-image: url({% static 'images/white-wood-background.jpg' %})">
    <div class="scrollspy container row" id="contact">
        <div class="col s12 l12 box-element fade-in">
            <h5>Contact Us</h5>
            <p>implement django form here!</p>
            <p>form.as_p!!</p>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/tables.jpg' %}"></div>
</div>

<div class="page-section" style="background-image: url({% static 'images/wall-background.jpg' %})">
    <div class="scrollspy container row">
        <div class="col s12 l12 box-element fade-in">
            <h5>Leave a Rating</h5>
            <p>implement django form here!</p>
            <p>form.as_p!!</p>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/flowers.jpg' %}"></div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <h5>Footer Content</h5>
                <p>You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col s12 l4 offset-l2">
                <h5>Follow Us!</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container"> HiTea 2020 &copy; All rights reservered</div>
    </div>
</footer>

{% endblock content %}
