{% extends "store/base.html" %}
{% load static %}

{% block navbar %}
<nav>
    <div class="nav-wrapper teal">
        <a href="{% url 'home' %}" class="brand-logo center">Hi Tea 茶室</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a href="#location">Location</a></li>
            <li><a href="{% url 'menu-search' %}">Menu</a></li>
            <li><a href="#introduction">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-links">
    <li><a href="#location">Location</a></li>
    <li><a href="{% url 'menu-search' %}">Menu</a></li>
    <li><a href="#introduction">About</a></li>
    <li><a href="#contact">Contact</a></li>
</ul>
{% endblock navbar %}


{% block content %}
<div class="parallax-container baseline">
    <div class="parallax"><img src="{% static 'images/store.jpg' %}"></div>
    <img class="logo pop" src="{% static 'images/HiTea Logo.png' %}">
    <i class="horizontal-center large material-icons"><a class="white-text" href="#introduction">keyboard_arrow_down</a></i>
    <img class="tea-image fade-in from-left" style="left: 13vw" src="{% static 'images/tea.png' %}" alt="">
    <img class="tea-image fade-in from-right" style="right: 13vw" src="{% static 'images/tea.png' %}" alt="">
</div>


<!--INTRO-->
<div class="page-section extended">
    <div class="scrollspy container row" id="introduction">
        <div class="col s12 l7 box-element fade-in from-right">
            <h5>About</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ducimus accusantium iure quos voluptas
                recusandae illo repellendus, atque dignissimos animi amet? Itaque, facere! Culpa quam suscipit optio
                laborum dignissimos soluta!</p>
            <img class="home-image" src="{% static 'images/contest-winner.jpg' %}">

        </div>

        <div class="col s12 l4 box-element offset-l1 fade-in from-left">
            <h5>Hours of Operation</h5>
            <!--   REPLACE WITH DJANGO HOURS OF OPERATIONS-->
            <div style="overflow-x:auto;">
                <table class="highlight">
                    <tr>
                        <th>Sunday</th>
                        <td> 12pm - 11pm</td>
                    </tr>
                    <tr>
                        <th>Monday</th>
                        <td> 12pm - 11pm</td>
                    </tr>
                    <tr>
                        <th>Tuesday</th>
                        <td> 12pm - 11pm</td>
                    </tr>
                    <tr>
                        <th>Wednesday</th>
                        <td> 12pm - 11pm</td>
                    </tr>
                    <tr>
                        <th>Thursday</th>
                        <td> 12pm - 11pm</td>
                    </tr>
                    <tr>
                        <th>Friday</th>
                        <td> 12pm - 11pm</td>
                    </tr>
                    <tr>
                        <th>Saturday</th>
                        <td> 12pm - 11pm</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/bubble-tea.jpg' %}"></div>
</div>

<div class="page-section" style="background-image: url({% static 'images/wood-background.jpg' %})">
    <div class="scrollspy container row" id="location">
        <div class="col s12 l12 box-element fade-in">
            <h5 class="center">Location</h5>
            <div class="iframe-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d719.845812924635!2d-79.28914381427607!3d43.80640925118799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d17a1f227f41%3A0x98421bb116545141!2zSGkuVGVh6Iy25a6k!5e0!3m2!1sen!2sca!4v1596601311016!5m2!1sen!2sca"
                        width="100%" height="400" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/darling.jpg' %}"></div>
</div>

<div class="page-section" style="background-image: url({% static 'images/white-wood-background.jpg' %})">
    <div class="scrollspy container row" id="contact">
        <div class="col s12 l12 box-element fade-in">
            <h5>Contact Us</h5>
            <div class="container">
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="name">
                    <label for="name">Name</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input type="text" id="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">message</i>
                    <textarea class="materialize-textarea" data-length="50" id="message"></textarea>
                    <label for="message">Message</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/tables.jpg' %}"></div>
</div>

<div class="page-section" style="background-image: url({% static 'images/wall-background.jpg' %}) height: 400vh;">
    <div class="scrollspy container row">
        <div class="col s12 l12 box-element fade-in">
            <!--Elfsight plugin limited to 200 views a month-->
            <div class="row">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-329a7c8e-c8db-49ac-b2a0-f2ca94c9b5fd"></div>
            </div>

            <!--Jimmy's old code-->
            <!-- <h5>Leave a Rating</h5>
            <div style="height: 10vh;"></div>
            <div class="row">
                <div class="col s6">
                    <div class="card">
                        <a target="_blank" href="https://www.google.com/search?rlz=1C1NHXL_enCA717CA717&ei=7nErX9zcJYSoytMPwLSf4AQ&q=hi+tea+midland+finch+google+review&oq=hi+tea+midland+finch+google+review&gs_lcp=CgZwc3ktYWIQAzIFCCEQoAE6BAgAEEc6BwghEAoQoAFQksdJWI_aSWCC3UloAHABeACAAYoBiAH7C5IBBDQuMTCYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=psy-ab&ved=0ahUKEwjci93ZyoXrAhUElHIEHUDaB0wQ4dUDCAw&uact=5#lrd=0x89d4d17a1f227f41:0x98421bb116545141,1,,,">
                            <div class="card-image"><img src="{% static 'images/google.png' %}" alt=""></div>
                        </a>
                        <div class="card-content center">
                            <i class="material-icons yellow-text">star</i>
                            <i class="material-icons yellow-text">star</i>
                            <i class="material-icons yellow-text">star</i>
                            <i class="material-icons yellow-text">star</i>
                            <i class="material-icons yellow-text">star_half</i>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="card">
                        <a target="_blank" href="https://www.yelp.ca/biz/hi-tea-scarborough">
                        <div class="card-image"><img src="{% static 'images/yelp.png' %}" alt=""></div>
                        </a>
                        <div class="card-content center">
                            <i class="material-icons yellow-text">star</i>
                            <i class="material-icons yellow-text">star</i>
                            <i class="material-icons yellow-text">star</i>
                            <i class="material-icons yellow-text">star</i>
                            <i class="material-icons yellow-text">star_half</i>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 10vh;"></div> -->
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/flowers.jpg' %}"></div>
</div>

{% endblock content %}
