{% extends "store/base.html" %}
{% load static %}

{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'images/store.jpg' %}"></div>
    <img class="logo responsive-img" src="{% static 'images/HiTea Logo.png' %}">
    <i class="horizontal-center large material-icons"><a class="white-text" href="#introduction">keyboard_arrow_down</a></i>
</div>
<div class="scrollspy container row" id="introduction">
    <div class="col s12 l7 box-element">
        <h5>About</h5>
    </div>

    <div class="col s12 l4 box-element offset-l1">
        <h5>Hours of Operation</h5>
    </div>
</div>

<div style="height:600px"></div>

{% endblock content %}