{% extends "store/base.html" %}
{% load static %}

{% block content %}
{% for product in products%}
<div class="col l4">
    <a href="#modal1"><img src="{{product.product.imageURL}}" alt="{{product.product.name}}"></a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h2>{{product.name}}</h2>
            <img src="{{product.imageURL}}" alt="{{product.product.name}}">
            <h4>Price: {{product.product.price}}</h4>
            <h4>Toppings: {{product.toppings}}</h4>
            <h4>Sugar Levels: {{product.sugar}}</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

</div>

{% endfor %}

{% endblock content %}
